{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Brian Gaudino</title>{% endblock %}
    <link rel="stylesheet" href="{% static 'vendor/pico/css/pico.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet"
          href="{% static 'vendor/fontawesome/css/all.min.css' %}">
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/nav.js' %}" defer></script>
    <script src="{% static 'vendor/htmx/js/htmx.min.js' %}" defer></script>
    <script src="{% static 'js/skills.js' %}" defer></script>
    <script src="{% static 'js/chat.init.js' %}" type="module" defer></script>
    <script src="{% static 'js/recaptcha.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async
            defer></script>
    {% block extrahead %}{% endblock %}
  </head>
  <body hx-target="main" hx-swap="innerHTML" hx-push-url="true">
    <header class="container">
      <nav>
        <ul>
          <li>
            <a href="{% url 'index' %}" hx-get="{% url 'index' %}"><strong>Brian Gaudino</strong></a>
          </li>
        </ul>
        <ul>
          {% include "portfolio/partials/_navlinks.html" with class_name="desktop" %}
          <li>
            <a href="#" id="theme-toggle"><i class="fa-solid fa-circle-half-stroke"></i></a>
          </li>
          <li class="mobile">
            <details class="dropdown" id="mobile-menu">
              <summary aria-label="menu" role="button" class="outline">
                <i class="fa-solid fa-bars"></i>
              </summary>
              <ul dir="rtl">
                {% include "portfolio/partials/_navlinks.html" with class_name="mobile" %}
              </ul>
            </details>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
    {% include "ai_chat/chat.html" %}
  </body>
</html>
