{% load static %}
{% include "portfolio/partials/_title.html" with title="" %}
<section id="landing">
  <img class="headshot"
       src="{% static 'images/me-small.jpg' %}"
       alt="Brian Gaudino headshot"
       width="200"
       height="200">
  <h1>Brian Gaudino</h1>
  {% if tagline %}<p class="tagline">{{ tagline.content }}</p>{% endif %}
  <a href="{% url 'projects' %}"
     hx-get="{% url 'projects' %}"
     role="button"
     class="pulse outline">See my work <i class="fa-solid fa-arrow-right"></i></a>
</section>
