<li class="{{ class_name }}">
  <a class="code-wrapper"
     href="{% url 'about' %}"
     hx-get="{% url 'about' %}">About</a>
</li>
<li class="{{ class_name }}">
  <a class="code-wrapper"
     href="{% url 'projects' %}"
     hx-get="{% url 'projects' %}">Projects</a>
</li>
<li class="{{ class_name }}">
  <a class="code-wrapper"
     href="{% url 'resume' %}"
     hx-get="{% url 'resume' %}">Resume</a>
</li>
<li class="{{ class_name }}">
  <a class="code-wrapper" href="{% url 'contact' %}">Contact</a>
</li>
