<section id="projects">
  <h2>Projects</h2>
  <div class="grid">
    {% for project in projects %}
      <article>
        <h3>
          {% if project.url %}
            <a class="code-wrapper" href="{{ project.url }}" target="_blank"><strong>{{ project.name }}</strong></a>
          {% elif project.repository_url %}
            <a class="code-wrapper"
               href="{{ project.repository_url }}"
               target="_blank"><strong>{{ project.name }}</strong></a>
          {% else %}
            <strong>{{ project.name }}</strong>
          {% endif %}
        </h3>
        {% if project.image %}
          <figure>
            <img src="{{ project.image.url }}"
                 alt="{{ project.name }} image"
                 height="auto"
                 width="100%">
          </figure>
        {% endif %}
        <p>{{ project.description }}</p>
        <div class="actions">
          {% if project.url %}
            <a class="small" role="button" href="{{ project.url }}" target="_blank">Project
              <i class="fa-solid fa-external-link-alt"></i>
            </a>
          {% endif %}
          {% if project.repository_url %}
            <a class="small"
               role="button"
               href="{{ project.repository_url }}"
               target="_blank">Code <i class="fa-brands fa-github"></i></a>
          {% endif %}
        </div>
      </article>
    {% endfor %}
  </div>
</section>
