<section id="resume">
  <h2>Resume</h2>
  <article>
    <header>
      Work Experience
    </header>
    {% for job in jobs %}
      <details>
        <summary>
          <strong>{{ job.company }}</strong> - {{ job.title }}
        </summary>
        {% if job.description %}<p>{{ job.description }}</p>{% endif %}
        {% if job.highlights %}
          <ul>
            {% for highlight in job.highlights %}<li>{{ highlight }}</li>{% endfor %}
          </ul>
        {% endif %}
      </details>
      <hr>
    {% endfor %}
  </article>
  <article>
    <header>
      Education
    </header>
    {% for education in educations %}
      <details>
        <summary>
          <strong>{{ education.institution }}</strong> - {{ education.degree }}
        </summary>
        {% if education.description %}<p>{{ education.description }}</p>{% endif %}
        {% if education.highlights %}
          <ul>
            {% for highlight in education.highlights %}<li>{{ highlight }}</li>{% endfor %}
          </ul>
        {% endif %}
      </details>
      <hr>
    {% endfor %}
  </article>
  <article>
    <header>
      Skills
    </header>
    {% for skill in skills %}
      <div class="skill">
        <strong>{{ skill.name }}</strong>
        <div class="bar">
          <div class="level" data-level="{{ skill.proficiency }}"></div>
        </div>
      </div>
    {% endfor %}
  </article>
</section>
