nav a {
  text-decoration: none;
  color: inherit;
}

a i {
  margin-left: 0.5rem;
}

#projects article .actions {
  display: flex;
  justify-content: space-between;
}

#projects article p {
  min-height: 5rem;
}

.code-wrapper:hover {
  text-decoration: none !important;
}

.code-wrapper::before {
  content: '< ';
  opacity: 0;
  transition: opacity 300ms;
}

.code-wrapper::after {
  content: ' />';
  opacity: 0;
  transition: opacity 300ms;
}

.code-wrapper:hover::before {
  opacity: 1;
  transition: opacity 300ms;
}

.code-wrapper:hover::after {
  opacity: 1;
  transition: opacity 300ms;
}

.headshot {
  border-radius: 50%;
}

.grid {
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 720px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.bar {
  width: 100%;
  border: 1px solid var(--pico-primary-border);
}

.level {
  height: 1.5rem;
  width: 0;
  transition: 1s !important;
  background-color: var(--pico-primary-background);
}
