nav a {
  text-decoration: none;
  color: inherit;
}

#projects article {
  position: relative;
  padding-bottom: 3rem;
}

#projects article .actions {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

#projects article figure {
  margin-bottom: 1rem;
}

#projects article p {
  margin-bottom: 1rem;
}

#projects article h3 {
  text-align: center;
}

#projects article figure {
  width: 100%;
  display: flex;
  justify-content: center;
}

#projects article figure img {
  border-radius: 0.5rem;
}

.code-wrapper {
  text-decoration: none;
}

.code-wrapper:hover {
  text-decoration: none !important;
}

.code-wrapper::before {
  content: '< ';
  opacity: 0;
  transition: opacity 300ms;
}

.code-wrapper::after {
  content: ' />';
  opacity: 0;
  transition: opacity 300ms;
}

.code-wrapper:hover::before {
  opacity: 1;
  transition: opacity 300ms;
}

.code-wrapper:hover::after {
  opacity: 1;
  transition: opacity 300ms;
}

.headshot {
  border-radius: 50%;
}

#projects .grid {
  grid-template-columns: repeat(3, 1fr);
}

.mobile {
  display: none;
}

@media (max-width: 1024px) {
  #projects .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

button.small, [role="button"].small {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  #projects .grid {
    grid-template-columns: 1fr;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}

.bar {
  width: 100%;
  border: 1px solid var(--pico-primary-border);
}

.level {
  height: 1.5rem;
  width: 0;
  transition: 1s !important;
  background-color: var(--pico-primary-background);
}

#mobile-menu > summary::after {
  display: none;
}

#mobile-menu > summary {
  border: none;
  color: inherit;
}
