#projects article .actions {
  display: flex;
  justify-content: space-between;
}

#projects article p {
  min-height: 5rem;
}

#hero {
  min-height: 100vh;
}

.code-wrapper:hover {
  text-decoration: none !important;
}

.code-wrapper::before {
  content: '< ';
  opacity: 0;
  transition: opacity 300ms;
}

.code-wrapper::after {
  content: ' />';
  opacity: 0;
  transition: opacity 300ms;
}

.code-wrapper:hover::before {
  opacity: 1;
  transition: opacity 300ms;
}

.code-wrapper:hover::after {
  opacity: 1;
  transition: opacity 300ms;
}

.headshot {
  border-radius: 50%;
}

.grid {
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 720px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
